.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: grayscale(100%);
    border-radius: 10px;
}

footer {
    text-align: center;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid;
}

td,
th {
    padding: 5px;
}

th {
    background-color: aqua;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    background-color: aqua;
}

.navbar a {
    color: black;
}
.navbar a:hover {
    color: white;

}